body {
	background: #00ffff;
}

img {
	display: block;
	margin: auto;
	width: 450px;
}

p{
	font-family: Arial;
	font-weight: bold;
}
#admiracion{
	display: inline;
	border: 1px solid black;
	border-radius: 10px;
	width: 15px;
}

div{
	text-align:center;
}

#txtbuscar {
	display: inline-flex;
	margin: auto;
	border-radius:3px;
	border: 2px solid black;
	height: 5%;
	width: 25%;
}

#buscar {
	border-radius:3px;
	border: 2px solid black;
	font-weight: bold;
	height: 5%;
	border-style: double;
}
