body {
	background: #00DCAB;
}

img {
	display: block;
	margin: auto;
	width: 450px;
	height: 250px;
}

p{
	font-family: Arial;
	font-weight: bold;
}

div{
	padding-left: 820px;
	padding-right: 820px;
}
#txtbuscar {
	border-style: double;

}

div #buscar {
	float: right;
}
