body {
	background: #00ffff;
}

img {
	display: block;
	margin: auto;
	width: 600px;
}

p{
	font-family: consolas;
	font-weight: bold;
}
#admiracion{
	display: inline;
	border: 2px solid black;
	border-radius: 20px;
	width: 20px;
}

div{
	text-align:center;
}

#txtbuscar {
	display: inline-flex;
	margin: auto;
	border-radius:4px;
	border: 2px solid black;
	height: 5%;
	width: 40%;
}

#buscar {
	border-radius:20px;
	border: 5px solid black;
	font-weight: bold;
	height: 15%;
	border-style: double;
}
